/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start custom css */
body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.top-nav {
	position: relative;
	height: 45px;
	width: 100%;
	background-color: gray;
}
.top-nav ul {
	position: absolute;
	top: 10px;
	right: 15px;
}
.top-nav li {
	text-align: center;
	color: gray;
	width: 50px;
	display: inline-block;
	/* 
	padding : 5px;
	background-color: #dddddd;
	border: 1px solid gray;
	*/
}

.draw-area {
	width: 100%;
	/* early browser support */
	height: 100%;
	/* height calculation - .top-nav div */
    height: -webkit-calc(100% - 45px);
    height: -moz-calc(100% - 45px);
    height: calc(100% - 45px);
  background-color: gray;
}
#drawsquare {
	height: 100%;
	width: 100%;
	display: table;
}
.drawrow{
	display: table-row;
}
.drawrow{
	display: table-row;
}
.drawrow{
	display: table-row;
}
.drawcell {
	display: table-cell;
	display: table-cell;
	display: table-cell;
	background-color: white;
}
#colorStatus {
	width: 45px;
	color: white;
}

